# Byte-compiled / optimized / compiled artifacts
__pycache__/
*.py[cod]
*$py.class
*.com
*.dll
*.exe
*.o
*.so
*.pyc
*.mo

# IDE/env artifacts
.vscode/
.idea/
/venv
.env
.vagrant

# Build artifacts
build/
dist/
*.egg-info/
.pytest_cache/